@font-face {
    font-family: "Telefonica";
    src: url("TelefonicaText.ttf") format("opentype");
}

.right-page{
	position: static;
  margin-left: 200px;
  height: 100%;
}
.main-page{
-webkit-font-smoothing: antialiased;
	font-family: "Telefonica";
	color: #888888;
padding: 15px;
	background-color: #ECECEC;
	  position: absolute;
  
}
.right-top-bar{
	font-family: "Telefonica";
	color: #1471B7;
	background-color: white;
	position: fixed;
	top: 0;
	left: 0;
	padding-left: 200px;
	z-index: 999;
	width: 100%;
	height: 50px;
}
.right-top-bar-right{
	
}
.mails-count-icon{
	font-weight: 900;
  	color: white;
  	width: 20px;
  	height: 20px;
  	background-color: #FFB516;
  	border-radius: 50%;
  	text-align: center;
  	margin-left: 20px;
  	margin-top: 15px;
  	font-size: 14px;
}
.notifications-count-icon{
	font-weight: 900;
  	color: white;
  	width: 20px;
  	height: 20px;
  	background-color: #EC2C21;
  	border-radius: 50%;
  	text-align: center;
  	margin-left: 20px;
  	margin-top: 15px;
  	font-size: 14px;
}

.hamburger-top-bar{
margin: 10px;
  width: 32px;
  height: 32px;
  	float: left;
	background-size: 100%;
	background-image: url("icons/hamburguer.png");
}
.title-top-bar{
  	float: left;
	padding-top: 10px;
  	font-size: 20px;
}
.mails-icon-top-bar{
margin-right: 10px;
	margin-top: 10px;
  width: 32px;
  height: 32px;
  	float: right;
	background-size: 100%;
	background-image: url("icons/mails.png");
}
.notifications-icon-top-bar{
margin-right: 10px;
	margin-top: 10px;
  width: 32px;
  height: 32px;
  	float: right;
	background-size: 100%;
	background-image: url("icons/notifications.png");
}
.maximize-icon-top-bar{
margin-right: 10px;
	margin-top: 10px;
  width: 32px;
  height: 32px;
  	float: right;
	background-size: 100%;
	background-image: url("icons/maximize.png");
}

.left-menu{
  top: 0;
  z-index: 2000;
	position: fixed;
	font-family: "Telefonica";
	color: white;
	float: left;
	width: 200px;
  height: 100%;
  background-color: #35A8E1;
}
.profile-photo{
	margin-top: 10px;
  width: 120px;
  margin-left: 40px;
  height: 120px;
  border-radius: 20%;
    background-size: 100%;
	background-image: url("images/default_avatar_large.png");
	
}
.span-user-name{
	  
  margin-top: 10px;
  text-align: center;
}
.left-menu-logo-telefonica{
	  height: 50px;
  background-color: #1471B7;
  background-image: url("images/logo tasa-01.png");
  background-size: 75%;
  background-position: 25px -25px;
  background-repeat: no-repeat;
}
.left-menu-icons{
	margin-top: 10px;
	 width: 100%;
  	height: 50px;
}
.left-menu-icon1{
	  width: 32px;
  height: 32px;
  	float: left;
  	  margin-left: 26px;
	background-size: 100%;
	background-image: url("icons/appbar.acorn.png");
}
.left-menu-icon2{
	  width: 32px;
  height: 32px;
  	margin-left:26px;
  	margin-right:25px;
  	float: left;
	background-size: 100%;
	background-image: url("icons/appbar.calendar.year.png");
}
.left-menu-icon3{
	  width: 32px;
  height: 32px;
  	float: left;
	background-size: 100%;
	background-image: url("icons/appbar.city.png");
}
.left-menu-moviblock{
	-webkit-font-smoothing: antialiased;
  	font-size: 10px;
	margin-top:10px;
	width: 100%;
  	height: 145px;
}
.left-menu-moviblock-left{

	width: 40px;
  	height: 145px;
  	float: left;
}
.moviblock-icon{
	  float: right;
  margin-right: 5px;
  width: 24px;
  height: 24px;
  	background-size: 100%;
  	background-image: url("icons/appbar.simcard.png");
}
.left-menu-moviblock-right{
	padding-left: 42px;
}

.left-menu-fijablock{
	-webkit-font-smoothing: antialiased;
  	font-size: 10px;
	width: 100%;
  	  height: 115px;
}
.left-menu-fijablock-left{
	width: 40px;
  	  height: 115px;
  	float: left;
}
.fijablock-icon{
	  float: right;
  margin-right: 5px;
  width: 24px;
  height: 24px;
  	background-size: 100%;
  	background-image: url("icons/appbar.phone.png");
}
.left-menu-fijablock-right{
	float: left;
	width:160px;
	  height: 115px;
}

.moviblock-right-title{
	padding-top: 7px;
  	padding-bottom: 7px;
}

.moviblock-right-link{
	cursor:pointer;
}
.fijablock-right-title{
	padding-top: 7px;
  	padding-bottom: 7px;
}

.fijablock-right-link{
	cursor:pointer;
}



.main-title{
  font-size: 20px;
  padding-top: 40px;
  padding-left: 10px;
  padding-bottom: 10px;
	-webkit-font-smoothing: antialiased;
	font-family: "Telefonica";
	color: #1471B7;
}
.main-sub-title{
	font-size: 12px;
  padding-left: 10px;
}
.main-content{
	width:100%;
}
.container50{
	float: left;
  margin: 1%;
  width: 48%;
  height: 200px;
  background-color: #35A8E1;
}
.container25{
float: left;
  margin: 1%;
  width: 23%;
  height: 200px;
  background-color: #35A8E1;
	
}
.container20{
	  background-color: #1471B7;
  width: 23%;
  height: 100px;
  margin: 1%;
  float: left;
}
.container20-right{
height: 60px;
  width: 50%;
  padding: 6px;
  padding-left: 7%;
  color: white;
  height: 60px;
  float: right;
  border-left: 1px solid rgba(53, 168, 255, 0.5);
  margin-top: 20px;
}
.container20-icon{
	float: left;
  width: 76px;
  height: 76px;
  background-size: 100%;
  margin-top: 5%;
  margin-left: 10%;
}
.icon-averias{
	background-image: url("icons/appbar.tools.png");
}
.icon-sitios{
	background-image: url("icons/appbar.map.gps.png");
}
.icon-dinamica{
	background-image: url("icons/appbar.inbox.in.png");
}
.icon-inmo{
	background-image: url("icons/appbar.timer.alert.png");
}
.icon-resumen{
	background-image: url("icons/appbar.projector.screen.png");
}
.icon-oferta{
	background-image: url("icons/appbar.tag.png");
}
.icon-atp{
	background-image: url("icons/appbar.customerservice.png");
}
.icon-intcomp{
	background-image: url("icons/appbar.clipboard.variant.edit.png");
}
.icon-capilaridad{
	background-image: url("icons/appbar.transit.connection.png");
}
.icon-poblacion{
	background-image: url("icons/appbar.group.png");
}
.icon-churn{
	background-image: url("icons/appbar.magnify.browse.png");
}
.icon-arpu{
	background-image: url("icons/appbar.currency.dollar.png");
}
.block1{
    width: 500px;
  float: left;
  height: 200px;
  margin: 8px;
}
.block4{
  width: 500px;
  float: left;
  height: 150px;
  margin: 8px;
  }
.block5{
  width: 500px;
  float: left;
  height: 100px;
  margin: 8px;
}
.block2{
  width: 242px;
  margin-right: 8px;
  float: left;
  height: 200px;
}
.block3{
  width: 242px;
  margin-left: 8px;
  float: left;
  height: 200px;
}


//evolutivo
.evolutivoleft{
  width: 120px;
  background-color: white;
  position: absolute;
  height: 200px;
  font-size: 14px;
    border-top: 1px solid rgba(200,200,200,0.8);
   border-bottom: 1px solid rgba(200,200,200,0.8);
   border-left : 1px solid rgba(200,200,200,0.8);
}
.evolutivolefticonaltas{
    width: 24px;
  height: 24px;
  margin-top: 6px;
    margin-left: 4px;
  background-size: 100%;
  background-image: url("icons/Iconos tablero-06.png");
  float: left;
}
.evolutivolefttitle{
    width: 87px;
  height: 32px;
  float: right;
  line-height: 40px;
}
.evolutivoleftpais{
  font-size: 12px;
  width: 120px;
  margin-top: 32px;
  height: 84px;
    padding: 6px;
    padding-top: 12px;
}
.evolutivoleftequipoblock{
    border-top: 1px solid rgba(200,200,200,0.9);
}
.evolutivoleftequipo{
  float: right;
}
.evolutivoleftregion{
font-size: 12px;
  padding: 6px;
    padding-top: 12px;
}

.evolutivoright{
  width: 380px;
  height: 200px;
  position: relative;
  left: 120px;
  background-color: #35A8E1;
  color: white;
  font-size: 12px;
}
.evolutivorighticoncontent{
  height: 24px;
  width: 100%;
}
.evolutivorighticonexpand{
  width: 24px;
    height: 24px;
    background-size: 100%;
    background-image: url("icons/appbar.arrow.expand.png");
    float: right;
}
.evolutivorightgraphcontent{
  height: 140px;
  width: 100%;
}
.evolutivorightinfocontent{
  height: 36px;
  font-size: 11px;
  width: 100%;
}
.evorightinfoblock{
    width: 54px;
  text-align: center;
  height: 36px;
  float: left;
  line-height: 16px;
}
.evorightinfocontent1{
  
}
.evorightinfocontent2{
  
}
.evorightinfoblockborder{
    width: 54px;
  text-align: center;
  height: 32px;
  float: left;
  line-height: 16px;
  border-left: 1px solid;
  border-color: rgba(200, 200, 200, 0.7);
}
.chartevolutivo{
  color:#868686;
}
.tooltip{
  backgroud-color: #565656;
  border-radius: 5px;
  font-size: 9px;
}
.tooltipfloatright{
  text-aling:right;
  float:right;
}
.tooltipfloatleft{
tooltipfloatleftext-aling:left;
  float:left;
}
.tooltipblock{
 width:60px;
}
.cakeinfoexpandologo{
margin-right: 3px;
  width: 24px;
    height: 24px;
    background-size: 100%;
    background-image: url("icons/appbar.arrow.expand2.png");
    float: right;
}
.cakeinfologo{
margin-left: 8px;
  margin-top: 2px;
  margin-right: 4px;
  width: 22px;
  height: 22px;
    background-size: 100%;
    background-image: url("icons/Iconos tablero-18.png");
    float: left;
}
.cakegraph{
  width: 100%;
  height: 145px;
  background-color: #35A8E1;
}
.cakeinfo{
border-right: 1px solid rgba(200,200,200,0.8);
   border-bottom: 1px solid rgba(200,200,200,0.8);
   border-left : 1px solid rgba(200,200,200,0.8);
  width: 100%;
  height: 55px;
  background-color: #FFFFFF;
}
.cakeinfoup{
    width: 100%;
  height: 28px;
}
.cakeinfotext{
  line-height: 28px;
    float: left;
}
.cakeinfodown{
line-height: 24px;
    width: 220px;
  margin-left: 11px;
  height: 27px;
  border-top: 1px solid rgba(170,170,170,0.7);
}
.cakeinfomovistar{
  float:left;
  font-size:14px;
}
.cakeinfomovistarMS{
  float:right;
  font-size:14px;
}
.evolutivoprepagofirst{
    margin-top: 15px;
}
.cakeevolup{
  width: 100%;
  height: 30px;
  color: white;
  line-height: 32px;
  font-size: 12px;
  background-color: #35A8E1;
}
.logorecargas{
margin-left: 4px;
  margin-top: 4px;
  width: 32px;
    height: 32px;
    background-size: 100%;
    background-image: url("icons/Iconos tablero-13.png");
    float: left;
}
.logorecargasprimera{
   margin-left: 6px;
  margin-top: 6px;
  width: 30px;
  height: 30px;
    background-size: 100%;
    background-image: url("icons/Iconos tablero-19.png");
    float: left;
}
.regargastitle{
    float: left;
      font-size: 14px;
  margin-top: 4px;
  margin-left: 4px;
}
.cakeevolcenter{
  width: 100%;
  height: 130px;
  background-color: #35A8E1;
}
.cakeevoldown{
padding-top: 10px;
  width: 100%;
  height: 40px;
  background-color: #35A8E1;
}
.cakeevoldowncenter{
  width: 202px;
  margin-left: 20px;
  color: white;
  font-size: 12px;
}
.evolutivolefticonTB{
  width: 24px;
  height: 24px;
  margin-top: 6px;
    margin-left: 4px;
  background-size: 100%;
  background-image: url("icons/Iconos tablero-07.png");
  float: left;
}
.logoPR{
  margin-left: 4px;
  margin-top: 4px;
  width: 32px;
    height: 32px;
    background-size: 100%;
    background-image: url("icons/Iconos tablero-14.png");
    float: left;
}
.logoPRP{
  margin-left: 4px;
  margin-top: 4px;
  width: 32px;
    height: 32px;
    background-size: 100%;
    background-image: url("icons/Iconos tablero-17.png");
    float: left;
}
.evolutivolefticonSP{
  width: 24px;
  height: 24px;
  margin-top: 6px;
    margin-left: 4px;
  background-size: 100%;
  background-image: url("icons/Iconos tablero-08.png");
  float: left;
}
.logoparqueTB{
  margin-left: 4px;
  margin-top: 4px;
  width: 32px;
    height: 32px;
    background-size: 100%;
    background-image: url("icons/Iconos tablero-15.png");
    float: left;
}
.logoparquespeedy{
  margin-left: 4px;
  margin-top: 4px;
  width: 32px;
    height: 32px;
    background-size: 100%;
    background-image: url("icons/Iconos tablero-16.png");
    float: left;
}

.slidegrande1{
  width: 242px;
  margin-right: 8px;
  float: left;
    height: 150px;
  background-color: #009D62;
}
.slidegrande2{

    width: 242px;
  margin-left: 8px;
  float: left;
    height: 150px;
  background-color: #009D62;
}
.slidechico1{
  width: 242px;
  margin-right: 8px;
  float: left;
  height: 100px;
  //background-color: #456BA5;
  background-color: #1471B7;
}
.slidechico2{
    width: 242px;
  margin-left: 8px;
  float: left;
  height: 100px;
  //background-color: #456BA5;
  background-color: #1471B7;
}
.slidegrandeleft{
  width: 50%;
  height: 100%;
  float: left;
}
.slidegranderight{
    padding-left: 20px;
  padding-top: 15px;
  width: 50%;
  margin-top: 20px;
  height: 110px;
  float: left;
  color: white;
  border-left: 1px solid rgba(200, 200, 200, 0.6);
}
.capilaridadicon{
  width: 32px;
    height: 32px;
    background-size: 100%;
    background-image: url("icons/Iconos tablero-20.png");
    float: left;
}
.slidegrandetitle{
  
}
.slidechicoleft{
  width: 50%;
  height: 100%;
  float: left;
}
.slidechicoright{
  padding-left: 20px;
  padding-top: 10px;
  width: 50%;
  margin-top: 15px;
  height: 70px;
  float: left;
  color: white;
  border-left: 1px solid rgba(200, 200, 200, 0.6);
}
  