<div class="block2">
	<div class="cakegraph">
		<div id="containerRRR" style="width: 242px; height: 145px; margin: 0 auto" ></div>
	</div>
	<div class="cakeinfo">
		<div class="cakeinfoup">
			<div class="cakeinfologo"></div>
			<div class="cakeinfotext">Market Share</div>
			<div class="cakeinfoexpandologo"></div>
		</div>
		<div class="cakeinfodown">
			<div class="cakeinfomovistar">Movistar</div>
			<div class="cakeinfomovistarMS">43,6%</div>
		</div>
	</div>
</div>
<div class="block3">
	<div class="cakegraph">
		<div id="containerRRRR" style="width: 242px; height: 145px; margin: 0 auto" ></div>
	</div>
	<div class="cakeinfo">
		<div class="cakeinfoup">
			<div class="cakeinfologo"></div>
			<div class="cakeinfotext">Market Share</div>
			<div class="cakeinfoexpandologo"></div>
		</div>
		<div class="cakeinfodown">
			<div class="cakeinfomovistar">Speedy</div>
			<div class="cakeinfomovistarMS">66,7%</div>
		</div>
	</div>
</div>