<div class="block2">
	<div class="cakeevolup">
		<div class="logoPR"></div>
		<div class="regargastitle">Parque Recargador</div>
		<div class="evolutivorighticonexpand" style="margin-right: 3px;  margin-top: 3px;"></div>
	</div>
	<div class="cakeevolcenter">
		
		<div id="containerPR" style="width: 232px; height: 140px; margin: 0 auto" ></div>
	</div>
	<div class="cakeevoldown" style="padding-top: 0;">
		<div class="cakeevoldowncenter">Rec. Propago <span style="float:right">567 k</span></div>
		<div class="cakeevoldowncenter">Rec. Control <span style="float:right">178 k</span></div>
	</div>




</div>
<div class="block3">
	<div class="cakeevolup">
		<div class="logoPRP"></div>
		<div class="regargastitle">Parque Pospago</div>
		<div class="evolutivorighticonexpand" style="margin-right: 3px;  margin-top: 3px;"></div>
	</div>
	<div class="cakeevolcenter">
		
		<div id="containerPRP" style="width: 232px; height: 140px; margin: 0 auto" ></div>
	</div>
	<div class="cakeevoldown" >
		<div class="cakeevoldowncenter">Pospago total <span style="float:right">903 k</span></div>
	</div>
</div>