<div class="block2">
	<div class="cakeevolup">
		<div class="logorecargas"></div>
		<div class="regargastitle">Montos de recarga</div>
		<div class="evolutivorighticonexpand" style="margin-right: 3px;  margin-top: 3px;"></div>
	</div>
	<div class="cakeevolcenter">
		
		<div id="containerV" style="width: 232px; height: 140px; margin: 0 auto" ></div>
	</div>
	<div class="cakeevoldown">
		<div class="cakeevoldowncenter">Región Patagónica <span style="float:right">$ 100,6 MM</span></div>
	</div>




</div>
<div class="block3">
	<div class="cakeevolup">
		<div class="logorecargasprimera"></div>
		<div class="regargastitle">1ª Recarga</div>
		<div class="evolutivorighticonexpand" style="margin-right: 3px;  margin-top: 3px;"></div>
	</div>
	<div class="cakeevolcenter">
		
		<div id="containerVV" style="width: 232px; height: 140px; margin: 0 auto" ></div>
	</div>
	<div class="cakeevoldown">
		<div class="cakeevoldowncenter">Región Patagónica <span style="float:right">38.593</span></div>
	</div>
</div>