
<div class="evolutivoleft">	
	<div class="evolutivolefticonaltas"></div><div class="evolutivolefttitle">Altas Prepago</div>
	<div class="evolutivoleftpais">
		<div class="evolutivoprepagofirst">Región <span class="evolutivoleftequipo">1</span></div>
		<div class="evolutivoleftequipoblock">Cabecera <span class="evolutivoleftequipo">4</span></div>
		<div class="evolutivoleftequipoblock">ZIC <span class="evolutivoleftequipo">4</span></div>
		<div class="evolutivoleftequipoblock">DDN <span class="evolutivoleftequipo">22</span></div>
		<div class="evolutivoleftequipoblock">Canal <span class="evolutivoleftequipo">5</span></div>
		<div class="evolutivoleftequipoblock">Razón <span class="evolutivoleftequipo">45</span></div>
	</div>
</div>
<div class="evolutivoright">
	<div class="evolutivorighticoncontent">
		<div class="evolutivorighticonexpand"></div>
	</div>
	<div class="evolutivorightgraphcontent">
		
		<div id="containerRRRRR" style="width: 380px; height: 140px; margin: 0 auto" ></div>
	</div>
	<div class="evolutivorightinfocontent">
		<div class="evorightinfoblock">
			<div class="evorightinfocontent1">Ppto Acum</div>
			<div class="evorightinfocontent2">60473</div>
		</div>
		<div class="evorightinfoblock">
			<div class="evorightinfocontent1">% Cump</div>
			<div class="evorightinfocontent2">119%</div>
		</div>
		<div class="evorightinfoblock">
			<div class="evorightinfocontent1">Real</div>
			<div class="evorightinfocontent2">3152</div>
		</div>
		<div class="evorightinfoblockborder">
			<div class="evorightinfocontent1">Proy</div>
			<div class="evorightinfocontent2">3152</div>
		</div>
		<div class="evorightinfoblockborder">
			<div class="evorightinfocontent1">Ppto</div>
			<div class="evorightinfocontent2">3400</div>
		</div>
		<div class="evorightinfoblockborder">
			<div class="evorightinfocontent1">% Cump</div>
			<div class="evorightinfocontent2">200%</div>
		</div>
		<div class="evorightinfoblock">
			<div class="evorightinfocontent1">Var. A/A</div>
			<div class="evorightinfocontent2">11%</div>
		</div>
	</div>
</div>