
<div class="evolutivoleft">	
	<div class="evolutivolefticonTB"></div><div class="evolutivolefttitle">Altas TB</div>
	<div class="evolutivoleftpais">
		<div class="evolutivoprepagofirst">Región <span class="evolutivoleftequipo">1</span></div>
		<div class="evolutivoleftequipoblock">Cabecera <span class="evolutivoleftequipo">4</span></div>
		<div class="evolutivoleftequipoblock">Canal <span class="evolutivoleftequipo">4</span></div>
		<div class="evolutivoleftequipoblock">Localidad <span class="evolutivoleftequipo">149</span></div>
	</div>
</div>
<div class="evolutivoright">
	<div class="evolutivorighticoncontent">
		<div class="evolutivorighticonexpand"></div>
	</div>
	<div class="evolutivorightgraphcontent">
		
		<div id="containerTB" style="width: 380px; height: 140px; margin: 0 auto" ></div>
	</div>
	<div class="evolutivorightinfocontent">
		<div class="evorightinfoblock">
			<div class="evorightinfocontent1">Obj Cump</div>
			<div class="evorightinfocontent2">60.473</div>
		</div>
		<div class="evorightinfoblock">
			<div class="evorightinfocontent1">Obj Reg</div>
			<div class="evorightinfocontent2">119%</div>
		</div>
		<div class="evorightinfoblockborder">
		</div>
		<div class="evorightinfoblock">
			<div class="evorightinfocontent1">% Cump</div>
			<div class="evorightinfocontent2">12 %</div>
		</div>
		<div class="evorightinfoblockborder">
			<div class="evorightinfocontent1">% Reg</div>
			<div class="evorightinfocontent2">13 %</div>
		</div>
		<div class="evorightinfoblock">
			<div class="evorightinfocontent1">A/A Cump</div>
			<div class="evorightinfocontent2">200%</div>
		</div>
		<div class="evorightinfoblockborder">
			<div class="evorightinfocontent1">A/A Reg</div>
			<div class="evorightinfocontent2">11%</div>
		</div>
	</div>
</div>