<div class="block4">
	<div class="slidegrande1">
		<div class="slidegrandeleft">
			<div class="capilaridadicon"></div>
		</div>
		<div class="slidegranderight">
			<div class="slidegrandetitle">Capilaridad</div>
			<div class="slidegrandetitle">Región</div>
			<div class="slidegrandetitle">437</div>
		</div>
	</div>
	<div class="slidegrande2">
		<div class="slidegrandeleft">
			<div class="capilaridadicon"></div>
		</div>
		<div class="slidegranderight">
			<div class="slidegrandetitle">Población</div>
			<div class="slidegrandetitle">Región</div>
			<div class="slidegrandetitle">2.410 k</div>
		</div>
	</div>
</div>
<div class="block4">
	<div class="slidegrande1">
		<div class="slidegrandeleft">
			<div class="capilaridadicon"></div>
		</div>
		<div class="slidegranderight">
			<div class="slidegrandetitle">Churn</div>
			<div class="slidegrandetitle">Región</div>
			<div class="slidegrandetitle">0,8%</div>
		</div>
	</div>
	<div class="slidegrande2">
		<div class="slidegrandeleft">
			<div class="capilaridadicon"></div>
		</div>
		<div class="slidegranderight">
			<div class="slidegrandetitle">ARPU</div>
			<div class="slidegrandetitle">Pospago</div>
			<div class="slidegrandetitle">$ 160</div>
		</div>
	</div>
</div>
<div class="block5">
	<div class="slidechico1">
		<div class="slidechicoleft">
			<div class="capilaridadicon"></div>
		</div>
		<div class="slidechicoright">
			<div class="slidechicoitle">Resumen</div>
			<div class="slidechicoitle">Ejecutivo</div>
		</div>
	</div>
	<div class="slidechico2">
		<div class="slidechicoleft">
			<div class="capilaridadicon"></div>
		</div>
		<div class="slidechicoright">
			<div class="slidechicoitle">Oferta</div>
			<div class="slidechicoitle">Comercial</div>
		</div>
	</div>
</div>
<div class="block5">
	<div class="slidechico1">
		<div class="slidechicoleft">
			<div class="capilaridadicon"></div>
		</div>
		<div class="slidechicoright">
			<div class="slidechicoitle">Indicadores</div>
			<div class="slidechicoitle">de ATP</div>
		</div>
	</div>
	<div class="slidechico2">
		<div class="slidechicoleft">
			<div class="capilaridadicon"></div>
		</div>
		<div class="slidechicoright">
			<div class="slidechicoitle">Inteligencia</div>
			<div class="slidechicoitle">Competitiva</div>
		</div>
	</div>
</div>